<% var navigation={
      heading:{ 
        label: 'Home', 
        link: 'top',
        linkclass:'navlinks-section',
        links:[{
          heading:{
            label: 'Typography', 
            link: 'typography',
            linkclass:'icon icon-tv',
            links:[{
              label:'Headings',
              link:'headings',
              linkclass:'icon icon-tv'
            },{
              label:'Paragraph',
              link:'paragraph',
              linkclass:'icon icon-tv'
            }]
          }
        },{
          heading:{
            label: 'Layout', 
            link: 'layout',
            linkclass:'icon icon-tv',
            links:[{
              label:'grid',
              link:'grid',
              linkclass:'icon icon-tv'
            },{
              label:'Container',
              link:'container',
              linkclass:'icon icon-tv'
            }]
          },
          
        }] 
      } 
    };

  var getNavHtml = function(nav){%>
<div class="ts-pushmenu-mp-level">
  <%if(typeof nav !=='undefined' && typeof nav.heading !=='undefined' && typeof nav.heading.link !=='undefined'){%>
    <h4 class="" data-href="#<%- nav.heading.link %>"><%- nav.heading.label %></h4>
  <%}%>
  <% if(typeof nav !=='undefined' && typeof nav.heading !=='undefined' && nav.heading.links && nav.heading.links.length>0){%>
  <ul>
    <%nav.heading.links.forEach(function(navlinkobj,i){
      console.log('navlinkobj',navlinkobj);
        %>
        <li class="icon icon-arrow-left"><a class="" data-href="#<%- navlinkobj.heading.link%>"><%- navlinkobj.heading.label%></a>
        <%if(navlinkobj.heading.links){
            //getNavHtml(navlinkobj);
          }%>
        </li>
        <%
      })%>
  </ul>
  <%}%>
</div>
  <%};

  getNavHtml(navigation);
 %>