<div id="navlinks" class="ts-pushmenu-mp-level">
  <h2 class="icon icon-world"><a href="#top" class="closemenu">Home</a></h2>
  <ul>
    <li class="icon icon-arrow-left">
      <a class="icon icon-display" href="#color">Colors</a>
      <div class="ts-pushmenu-mp-level">
        <h3 class="icon icon-display">Colors</h3>
        <a class="ts-pushmenu-mp-back" href="#color">back</a>
        <ul>
          <li class="icon icon-arrow-left">
            <a class="icon icon-phone" href="#color">Borders</a>
          </li>
          <li class="icon icon-arrow-left">
            <a class="icon icon-tv" href="#color">Backgrouds</a>
          </li>
          <li class="icon icon-arrow-left">
            <a class="icon icon-camera" href="#color">Text</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="icon icon-arrow-left">
      <a class="icon icon-news" href="#typography">Typography</a>
      <div class="ts-pushmenu-mp-level">
        <h3 class="icon icon-news">Typography</h3>
        <a class="ts-pushmenu-mp-back" href="#">back</a>
        <ul>
          <li><a href="#typography">Headings</a>
          </li>
          <li><a href="#typography">Paragraph</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="icon icon-arrow-left">
      <a class="icon icon-shop" href="#layout">Layout</a>
      <div class="ts-pushmenu-mp-level">
        <h3 class="icon icon-shop">Layout</h3>
        <a class="ts-pushmenu-mp-back" href="#layout">back</a>
        <ul>
          <li class="icon icon-arrow-left">
            <a class="icon icon-t-shirt" href="#layout">Grid</a>
          </li>
          <li>
            <a class="icon icon-diamond" href="#layout">Position</a>
          </li>
        </ul>
      </div>
    </li>
    <li><a class="icon icon-photo" href="#responsive">Responsive</a>
    </li>
    <li><a class="icon icon-wallet" href="#customize">Customize</a>
    </li>
  </ul>
</div>