<a name="#gettingstarted"></a>
<article class="ts-text-container ts-container-margin-xl">
  <section>
    <h2>Getting started
      <small>with stylie</small>
    </h2>
    <p>Stylie is designed to generate responsive CSS frameworks from professionally designed style guides.</p>
    <p>The generated framework uses <a href="http://www.w3schools.com/cssref/css_units.asp" target="_blank">CSS <i>EM</i> units</a> and 12 column, percentage width based grids.</p>
    <a name="#gettingstarted-otherframeworks"></a>
    <h6>Other CSS frameworks</h6>
    <p>There are a lot of excellent comprehensive CSS frameworks to choose from; however, if you already possess a fully featured style guide, it can become rather tedious to roll back the default styles from larger frameworks.</p>
    <p>Many large CSS frameworks also come with JavaScript dependencies, which add additional (but in many cases, unnecessary) functionality. The additional JavaScript dependencies can add additional unwanted weight to your application.</p>
    <p>Stylie generated style guides are always name-spaced (by default with [ts]), such that styles may be contained within specific elements and will not conflict with other CSS style definitions.</p>
    <p>Stylie generated style guides are designed to provide a workstream for generating a comprehensive and bespoke framework suited for your exact specifications.</p>
    <a name="#gettingstarted-methodology"></a>
    <h6>Methodology</h6>
    <p>Most CSS class definitions have six different size class modifiers</p>
    <ul class="ts-text-sm">
      <li>xs - extra small</li>
      <li>sm - small</li>
      <li>md - medium</li>
      <li>lg - large</li>
      <li>xl - extra large</li>
      <li>xx - extra huge</li>
    </ul>
    <p>Manipulating
      <span class="ts-code">variables.less</span> can modify the default size and percent values</p>
    <p>The CSS class names follow the <i>[namespace]-[property]-[value]</i> naming convention. For example:</p>
    <ul class="ts-text-sm">
      <li>.ts-text-xl -
        <span class="ts-text-xl">extra large text</span>
      </li>
      <li>.ts-text-accent-color -
        <span class="ts-text-accent-color"> accent colored text</span>
      </li>
      <li class="ts-position-relative ts-clear-both">.ts-float-right -
        <div class="ts-float-right ts-border-solid-micro">floated right element</div>
      </li>
    </ul>
    <p>The verbose naming convention is intended to make generating composite LESS classes and prototyping HTML element CSS classes extremely efficient.</p>
  </section>
</article>
<hr>