<h6>Nested Grid
  <small>.ts-row</small>
</h6>
<div class="ts-row ts-text-xs example-grid-border ts-container-margin-lg ts-no-y-overflow">
  <div class="ts-col-span12">
    <strong>Example: Nested Rows and Columns</strong>
  </div>
  <div class="ts-col-span6 ts-height-33">
    <div class="ts-row">
      <div class="ts-col-span12 ts-border-solid-micro">
        .ts-col-span12
      </div>
    </div>
    <div class="ts-row">
      <div class="ts-col-span8 ts-border-solid-micro ts-height-100">.ts-col-span8</div>
      <div class="ts-col-span4 ts-border-solid-micro ts-height-100">.ts-col-span4</div>
    </div>
  </div>
  <div class="ts-col-span6 ts-height-33">.ts-col-span6</div>
</div>