<h6>Responsive Grid
  <small>.ts-row</small>
</h6>
<div class="ts-row ts-text-xs example-grid-border ts-container-margin-lg ts-no-y-overflow">
  <div class="ts-col-span12">
    <strong>Example: Responsive grids</strong>
  </div>
  <div class="ts-col-span6 ts-screenmd-col-span8  ts-screensm-col-span12 ">
    .ts-col-span6 .ts-screenmd-col-span8 .ts-screensm-col-span12
  </div>
  <div class="ts-col-span6 ts-screenmd-col-span4 ts-screensm-col-span12">
    .ts-col-span6 .ts-screenmd-col-span4 .ts-screensm-col-span12
  </div>

  <div class="ts-col-span3 ts-screenmd-col-span4 ts-screenxs-col-span6">
    .ts-col-span3 .ts-screenmd-col-span4 .ts-screenxs-col-span6
  </div>

  <div class="ts-col-span3 ts-screenmd-col-span4 ts-screenxs-col-span6">
    .ts-col-span3 .ts-screenmd-col-span4 .ts-screenxs-col-span6
  </div>

  <div class="ts-col-span3 ts-screenmd-col-span4 ts-screenxs-col-span6">
    .ts-col-span3 .ts-screenmd-col-span4 .ts-screenxs-col-span6
  </div>

  <div class="ts-col-span3 ts-screenmd-col-span4 ts-screenxs-col-span6">
    .ts-col-span3 .ts-screenmd-col-span4 .ts-screenxs-col-span6
  </div>
</div>