<header class="ts-position-fixed ts-position-top ts-width-100 ts-z-index-1000 ts-bg-text-primary-color ts-serif-clean ts-row ts-padding-md">
  <div id="trigger" class="ts-position-absolute ts-position-right ts-position-top">
    <a href="#" id="trigger" class="ts-icon-menu-trigger ts-">
      <img class="ts-nav-image" src="img/menu.png">
    </a>
  </div>
  <div class="ts-text-xl ts-text-center">Stylie</div>
</header>