<a name="#responsive"></a>
<article class="ts-text-container ts-container-margin-xl">
  <section>
    <h2>Responsive
      <small>media queries</small>
    </h2>
    <p>The <i>screen[xs:xx]</i> naming convention is used to control the responsive elements by media query.</p>
    <p>The default size and percent values can be modified by manipulating
      <span class="ts-code">variables.less</span>
    </p>
    <a name="#responsive-visibility"></a>
    <h6>Visibility</h6>
    <p>It's possible to hide elements based on the size of the screen</p>
    <ul class="ts-text-sm">
      <li>.ts-screenxs-hidden - hide element when screen is extra small sized</li>
      <li>.ts-screensm-hidden - hide element when screen is small sized</li>
      <li>.ts-screenmd-hidden - hide element when screen is medium sized</li>
      <li>.ts-screenlg-hidden - hide element when screen is large sized</li>
      <li>.ts-screenxl-hidden - hide element when screen is extra large sized</li>
      <li>.ts-screenxx-hidden - hide element when screen is extra huge sized</li>
    </ul>
    <a name="#responsive-grid"></a>
    <h6>Grid</h6>
    <p>You can set the size of a column based on the screen size using the screen[xs:xx] naming convention</p>
    <ul class="ts-text-sm">
      <li>.ts-screenxs-col-span3 - span 3 columns when screen is extra small sized</li>
      <li>.ts-screensm-col-span5 - span 5 columns when screen is small sized</li>
      <li>.ts-screenmd-col-span2 - span 2 columns when screen is medium sized</li>
      <li>.ts-screenlg-col-span1 - span 1 column when screen is large sized</li>
      <li>.ts-screenxl-col-span12 - span 12 columns when screen is extra large sized</li>
      <li>.ts-screenxx-col-span8 - span 8 columns when screen is extra huge sized</li>
    </ul>
    <a name="#responsive-layout"></a>
    <h6>Layout</h6>
    <p>You can set the height and width of a column based on the screen size using the screen[xs:xx] naming convention</p>
    <ul class="ts-text-sm">
      <li>.ts-screenxs-width-100 - width set to 100% when screen is extra small sized</li>
      <li>.ts-screensm-height-33 - height set to 33% when screen is small sized</li>
      <li>.ts-screenmd-width-66 - width set to 66% when screen is medium sized</li>
      <li>.ts-screenlg-width-10 - width set to 10% when screen is large sized</li>
      <li>.ts-screenxl-height-75 - height set to 75% when screen is extra large sized</li>
    </ul>
    <a name="#responsive-navelements"></a>
    <h6>Nav Elements</h6>
    <p>The nav links will collapse when the screen is smaller than <i>@navcollapse</i>
    </p>
  </section>
</article>
<hr>