<a name="#styleguide"></a>
<article class="ts-text-container ts-container-margin-xl">
  <h1>Style Guide</h1>
  <section class="ts-row ts-container-margin-xl">
    <div class="ts-col-span6 ts-height-33">
      <h1>h1 body</h1>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h2>h2 body</h2>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h3>h3 body</h3>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h4>h4 body</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h5>h5 body</h5>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h6>h6 body</h6>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
    </div>
  </section>
  <section class="ts-row ts-container-margin-xl">
    <div class="ts-col-span6 ts-height-33">
      <h1>h1 summary</h1>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h2>h2 summary</h2>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h3>h3 summary</h3>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h4>h4 summary</h4>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h5>h5 summary</h5>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h6>h6 summary</h6>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
  </section>
</article>
<hr>