<a name="#styleguide"></a>
<article class="ts-text-container ts-container-margin-xl">
  <h1>Style Guide</h1>
  <section class="ts-row ts-container-margin-xl">
    <div class="ts-col-span12 ts-no-margin-heading">
      <h1>Tables</h1>
      <div class="ts-padding-lg">
        <table class="ts-table ts-table-padding-md ts-text-left  ts-width-100  ts-sans-serif">
          <!-- ts-table-border ts-table-cell-border -->
          <thead class="ts-table-head">
            <tr>
              <th>Id</th>
              <td>Name</td>
              <td>Email</td>
              <td>Phone</td>
            </tr>
          </thead>
          <tbody class="ts-table-body">
            <tr>
              <th>0928IFJDAOS8FSAJ</th>
              <td>John Smith</td>
              <td>johnsmith@example.com</td>
              <td>555-555-5555</td>
            </tr>
            <tr>
              <th>0928IFJDAOS8FSAJ</th>
              <td>John Smith</td>
              <td>johnsmith@example.com</td>
              <td>555-555-5555</td>
            </tr>
            <tr>
              <th>0928IFJDAOS8FSAJ</th>
              <td>John Smith</td>
              <td>johnsmith@example.com</td>
              <td>555-555-5555</td>
            </tr>
            <tr>
              <th>0928IFJDAOS8FSAJ</th>
              <td>John Smith</td>
              <td>johnsmith@example.com</td>
              <td>555-555-5555</td>
            </tr>
            <tr>
              <th>0928IFJDAOS8FSAJ</th>
              <td>John Smith</td>
              <td>johnsmith@example.com</td>
              <td>555-555-5555</td>
            </tr>
            <tr>
              <th>0928IFJDAOS8FSAJ</th>
              <td>John Smith</td>
              <td>johnsmith@example.com</td>
              <td>555-555-5555</td>
            </tr>
          </tbody>
          <tfoot class="ts-table-foot">
            <tr>
              <th>Id</th>
              <td>Name</td>
              <td>Email</td>
              <td>Phone</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </section>
  <section class="ts-row ts-container-margin-xl">
    <div class="ts-col-span12 ts-no-margin-heading">
      <h1>Forms</h1>
      <div class="ts-row">
        <div class="ts-col-span8 ts-col-nofloat">
          <h2 class="text-left">Sign In</h2>
          <div class="ts-padding-lg">
            <form action="javascript://donothing" method="get" autocomplete="on" id="test_form" name="test_form" class="ts-form">
              <div class="ts-row ts-form-row">
                <label class="ts-label">Username / Email </label>
                <input type="text" name="username" class="ts-col-span12 ts-input" placeholder="username or email@domain.com" />
              </div>
              <div class="ts-row ts-form-row">
                <label class="ts-label">Password</label>
                <input type="password" name="password" placeholder="password" class="ts-col-span12  ts-input" />
                <div class="ts-col-span3">
                  <label class="ts-label">Remember me</label>
                  <input type="checkbox" name="rememberme" />
                </div>
                <div class="ts-col-span3">
                  <label class="ts-label"><a href="/auth/forgot">Forgot Password</a></label>
                </div>
              </div>
              <div class="ts-row ts-form-row ts-text-sm ts-text-center">
                <button type="submit" name="submit" class="ts-button ts-color-success"><i class="icon-ok icon-white"></i> Login</button>
                <a href="/auth/facebook" class="ts-button">Facebook login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ts-row ts-container-margin-xl">
    <div class="ts-col-span12 ts-no-margin-heading">
      <div class="ts-row">
        <div class="ts-col-span8 ts-col-nofloat">

          <button class="ts-button">ts button</button>
          <a href="#ts-button" class="ts-button">ts button</a>

          <button class="ts-button ts-button-error-color">ts button error-color</button>
          <a href="#ts-button-error-color" class="ts-button ts-button-error-color">ts button error-color</a>

          <button class="ts-button ts-button-primary-text-color">ts button primary-text-color</button>
          <a href="#ts-button-primary-text-color" class="ts-button ts-button-primary-text-color">ts button primary-text-color</a>

          <button class="ts-button ts-button-secondary-text-color">ts button secondary-text-color</button>
          <a href="#ts-button-secondary-text-color" class="ts-button ts-button-secondary-text-color">ts button secondary-text-color</a>

          <button class="ts-button ts-button-divider-text-color">ts button divider-text-color</button>
          <a href="#ts-button-divider-text-color" class="ts-button ts-button-divider-text-color">ts button divider-text-color</a>








          <button class="ts-button ts-button-dark-primary-color">ts button dark-primary-color</button>
          <a href="#ts-button-dark-primary-color" class="ts-button ts-button-dark-primary-color">ts button dark-primary-color</a>

          <button class="ts-button ts-button-primary-color">ts button primary-color</button>
          <a href="#ts-button-primary-color" class="ts-button ts-button-primary-color">ts button primary-color</a>

          <button class="ts-button ts-button-light-primary-color">ts button light-primary-color</button>
          <a href="#ts-button-light-primary-color" class="ts-button ts-button-light-primary-color">ts button light-primary-color</a>

          <button class="ts-button ts-button-accent-color">ts button accent-color</button>
          <a href="#ts-button-accent-color" class="ts-button ts-button-accent-color">ts button accent-color</a>


        </div>
      </div>
    </div>
  </section>

  <section class="ts-row ts-container-margin-xl">
    <div class="ts-col-span6 ts-height-33">
      <h1>h1 summary</h1>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h2>h2 summary</h2>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h3>h3 summary</h3>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h4>h4 summary</h4>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h5>h5 summary</h5>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
    <div class="ts-col-span6 ts-height-33">
      <h6>h6 summary</h6>
      <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</summary>
    </div>
  </section>
</article>
<hr>