<a name="#typography"></a>
<article class="ts-text-container ts-container-margin-xl">
  <section>
    <h2>Typography
      <small>fonts, sizes and alignment</small>
    </h2>
    <p>The default headings have a serif typeface (lyontext), the body copy uses a sans-serif typeface (potano).</p>
  </section>
  <a name="#typography-textsize"></a>
  <section>
    <h3>Text Size</h3>
    <p>The text size class names follow the [namespace]-text-[size] naming convention.</p>
    <p>
      <span class="ts-text-xs example-color-bg">.ts-text-xs</span>
      <span class="ts-text-sm example-color-bg">.ts-text-sm</span>
      <span class="ts-text-md example-color-bg">.ts-text-md</span>
      <span class="ts-text-lg example-color-bg">.ts-text-lg</span>
      <span class="ts-text-xl example-color-bg">.ts-text-xl</span>
      <span class="ts-text-xx example-color-bg">.ts-text-xx</span>
    </p>
  </section>
  <section>
    <p>Example heading sizes:</p>
    <h1>H1 Heading.</h1>
    <h2>H2 Heading.</h2>
    <h3>H3 Heading.</h3>
    <h4>H4 Heading.</h4>
    <h5>H5 Heading.</h5>
    <h6>H6 Heading.</h6>
    <p>Remove margin from headings with
      <span class="ts-code">.ts-no-heading-margin</span>
    </p>
  </section>
  <a name="#typography-bodycopy"></a>
  <section>
    <h3>Body
      <small>and fonts</small>
    </h3>
    <h4>Body Copy (sans-serif) &lt;p&gt;</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <h4>Summary & Details Text (serif) &lt;summary&gt;, &lt;details&gt;</h4>
    <summary>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</summary>

  </section>
  <a name="#typography-fontclasses"></a>
  <section>
    <h4>Font Classes</h4>
    <h6>.ts-serif</h6>
    <code class="example-code-block ts-serif"> .ts-serif
      <br> font-family: ebgaramond,garamond,Georgia,serif;
    </code>
    <h6>.ts-serif-clean</h6>
    <code class="example-code-block ts-serif-clean">
      <span class="ts-serif-clean">.ts-serif-clean
        <br> font-family: lyontext,garamond,Georgia,serif;
      </span>
    </code>
    <h6>.ts-sans-serif</h6>
    <code class="example-code-block ts-sans-serif">
      <span class="ts-sans-serif">.ts-sans-serif
        <br> font-family: pontano,"Helvetica Neue",Helvetica,Arial,sans-serif;
      </span>
    </code>
  </section>
  <a name="#typography-alignmentclasses"></a>
  <section>
    <h3>Alignment Classes </h3>
    <h6>.ts-text-left</h6>
    <p class="ts-text-left ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
    <h6>.ts-text-right</h6>
    <p class="ts-text-right ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
    <h6>.ts-text-center</h6>
    <p class="ts-text-center ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
    <h6>.ts-text-justify</h6>
    <p class="ts-text-justify ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
  </section>
  <a name="#typography-lineheight"></a>
  <section>
    <h3>Line Height</h3>
    <h6>.ts-line-height-xs</h6>
    <p class="ts-line-height-xs ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
    <h6>.ts-line-height-sm</h6>
    <p class="ts-line-height-sm ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
    <h6>.ts-line-height-md</h6>
    <p class="ts-line-height-md ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
    <h6>.ts-line-height-lg</h6>
    <p class="ts-line-height-lg ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
    <h6>.ts-line-height-xl</h6>
    <p class="ts-line-height-xl ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
    <h6>.ts-line-height-xx</h6>
    <p class="ts-line-height-xx ts-text-sm">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>

  </section>
  <a name="#typography-listclasses"></a>
  <section>
    <h3>Lists Classes </h3>
    <h6>Ordered List &lt;ol&gt;</h6>
    <ol class="ts-text-sm">
      <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
      <li>Donec id elit non mi porta gravida at eget metus.</li>
      <li>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</li>
    </ol>
    <h6>Unordered List &lt;ul&gt;</h6>
    <ul class="ts-text-sm">
      <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
      <li>Donec id elit non mi porta gravida at eget metus.</li>
      <li>Duis mullis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</li>
    </ul>
    <h6>Horizontal Unordered List &lt;ul.ts-ul-inline-block&gt; </h6>
    <ul class="ts-text-sm ts-ul-inline-block ts-li-horz-spacing ts-no-padding">
      <li class="ts-border-solid-micro">Maecenas</li>
      <li class="ts-border-solid-micro">Sed</li>
      <li class="ts-border-solid-micro">Donec</li>
      <li class="ts-border-solid-micro">Duis</li>
    </ul>
  </section>
</article>
<hr>