@import "fonts.less";
.ts-form-optional{
    display: none;
    &.ts-show-optional{
        display: initial;
    }
}
.ts-formelement{
}
.ts-formelement-border{
    border:@sizexs solid @darkPrimaryColor;
}
.ts-formelement-border-light{
    border:1px solid lighten(@darkPrimaryColor, 10%);
}
.ts-button{
    background-color: @accentColor;
    .ts-formelement-border;
    border-color: lighten(@accentColor, 5%);
    color:@textPrimaryColor;
    cursor:pointer;
    display: inline-block;
    padding-left: @sizemd;
    padding-right: @sizemd;
    &input[type="button"],
    &input[type="submit"],
    &button[type="submit"],
    button{
        padding-top:@sizelg;
        padding-bottom:@sizelg;
    }
    &:hover{
        background-color: lighten(@accentColor, 10%);
    }
}
input[type="button"].ts-button,
input[type="submit"].ts-button,
button[type="submit"].ts-button,
button{
    padding-top:(@sizemd *.85);
    padding-bottom:(@sizemd *.85);
}
.ts-form{
    .ts-form-padding{
        // padding-left:@sizemd;
        // padding-right:@sizemd;
        // margin: @sizesm;
    }
    .ts-form-row{
        .ts-row;
        padding-top:@sizemd;
        padding-bottom:@sizemd;
        .ts-label{
            font-size: @percentxs;
        }
        .ts-input{
            width:100%;
            .ts-formelement-border-light;
            &[disabled="disabled"]{
                background-color: darken(@textPrimaryColor, 5%);
            }
        }
    }
}