
.ts{
    nav{
        ul,
        .ts-nav-collapse{
            margin: @sizemd auto;
        }
    }
    .ts-screenxs-visible,
    .ts-screensm-visible,
    .ts-screenmd-visible,
    .ts-screenlg-visible,
    .ts-screenxl-visible,
    .ts-screenxx-visible{
        display: initial;
    }
    .ts-screenxs-hidden,
    .ts-screensm-hidden,
    .ts-screenmd-hidden,
    .ts-screenlg-hidden,
    .ts-screenxl-hidden,
    .ts-screenxx-hidden{
        display: initial;     
    }
    .ts-nav-collapse{

        .ts-nav-collapse-dropdown{
            display: none;
            padding: 0em @sizelg;
            margin: 0;
            li{
                padding-top: @sizesm;
                padding-bottom: @sizesm;
            }
        }
        &:hover{
            .ts-nav-collapse-dropdown{
                display: block;
            }
        }
    }
}

//nav collapse
@media screen and (min-width: @navcollaspe){
    .ts{
        .ts-nav-collapse{
            .ts-nav-collapse-button{
                display: none;
            }
            .ts-nav-collapse-dropdown{
                display: block;
                li{
                    display: inline-block;
                    padding-right: @sizesm;
                    padding-left: @sizesm;
                }
            }
        }
    }
}

//micro/extra-small screen
@media screen and (max-width: @screenxs)  {
    .ts{
        .ts-screenxs-hidden{
            display: none;     
        }
        // h1,h2,h3,h4,h5,h6{
        //     line-height: 120%;
        //     margin: 1em 0 -0.5em;
        // }
        h1{
            font-size: (@heading-size*@headingxs);
        }
        h2{
            font-size: (@heading-size*(7/8) * @headingxs);
        }
        h3{
            font-size: (@heading-size*(6/8) * @headingxs);
        }
        h4{
            font-size: (@heading-size*(5/8) * @headingxs);
        }
        h5,h6{
            font-size: (@heading-size*(4/8) * @headingxs);
        }
        .ts-container{
            margin: 0 1em;
        }
        .ts-asset-slideshow{
            height:(@assetheight * @headingxs);
        }

        .ts-row{
			    .ts-screenxs-col-span12{
			        width: percentage(12 / 12);
			    }
			    .ts-screenxs-col-span11{
			        width: percentage(11 / 12);
			    }
			    .ts-screenxs-col-span10{
			        width: percentage(10 / 12);
			    }
			    .ts-screenxs-col-span9{
			        width: percentage(9 / 12);
			    }
			    .ts-screenxs-col-span8{
			        width: percentage(8 / 12);
			    }
			    .ts-screenxs-col-span7{
			        width: percentage(7 / 12);
			    }
			    .ts-screenxs-col-span6{
			        width: percentage(6 / 12);
			    }
			    .ts-screenxs-col-span5{
			        width: percentage(5 / 12);
			    }
			    .ts-screenxs-col-span4{
			        width: percentage(4 / 12);
			    }
			    .ts-screenxs-col-span3{
			        width: percentage(3 / 12);
			    }
			    .ts-screenxs-col-span2{
			        width: percentage(2 / 12);
			    }
			    .ts-screenxs-col-span1{
			        width: percentage(1 / 12);
			    }
				}


				.ts-screenxs-height-max-100{
				    max-height: 100%;
				}
				.ts-screenxs-height-max-80{
				    max-height: 80%;
				}
				.ts-screenxs-height-max-50{
				    max-height: 50%;
				}
				.ts-screenxs-height-100{
				    height: 100%;
				}
				.ts-screenxs-height-90{
				    height: 90%;
				}
				.ts-screenxs-height-75{
				    height: 75%;
				}
				.ts-screenxs-height-66{
				    height: 66%;
				}
				.ts-screenxs-height-50{
				    height: 50%;
				}
				.ts-screenxs-height-33{
				    height: 33%;
				}
				.ts-screenxs-height-25{
				    height: 25%;
				}
				.ts-screenxs-height-10{
				    height: 10%;
				}
				.ts-screenxs-width-100{
				    width: 100%;
				}
				.ts-screenxs-width-90{
				    width: 90%;
				}
				.ts-screenxs-width-75{
				    width: 80%;
				}
				.ts-screenxs-width-66{
				    width: 66%;
				}
				.ts-screenxs-width-50{
				    width: 50%;
				}
				.ts-screenxs-width-33{
				    width: 33%;
				}
				.ts-screenxs-width-25{
				    width: 25%;
				}
				.ts-screenxs-width-10{
				    width: 10%;
				}
    }
}
//small/mobile
@media screen and (min-width:@screenxs + 0.001em) and (max-width: @screensm){
    .ts{
        .ts-screensm-hidden{
            display: none;     
        }
        // h1,h2,h3,h4,h5,h6{
        //     line-height: 120%;
        //     margin: 1em 0 -0.5em;
        // }
        h1{
            font-size: (@heading-size*@headingsm);
        }
        h2{
            font-size: (@heading-size*(7/8) * @headingsm);
        }
        h3{
            font-size: (@heading-size*(6/8) * @headingsm);
        }
        h4{
            font-size: (@heading-size*(5/8) * @headingsm);
        }
        h5,h6{
            font-size: (@heading-size*(4/8) * @headingsm);
        }
        .ts-container{
            margin: 0 1em;
        }
        .ts-asset-slideshow{
            height:(@assetheight * @headingsm);
        }
        .ts-row{
			    .ts-screensm-col-span12{
			        width: percentage(12 / 12);
			    }
			    .ts-screensm-col-span11{
			        width: percentage(11 / 12);
			    }
			    .ts-screensm-col-span10{
			        width: percentage(10 / 12);
			    }
			    .ts-screensm-col-span9{
			        width: percentage(9 / 12);
			    }
			    .ts-screensm-col-span8{
			        width: percentage(8 / 12);
			    }
			    .ts-screensm-col-span7{
			        width: percentage(7 / 12);
			    }
			    .ts-screensm-col-span6{
			        width: percentage(6 / 12);
			    }
			    .ts-screensm-col-span5{
			        width: percentage(5 / 12);
			    }
			    .ts-screensm-col-span4{
			        width: percentage(4 / 12);
			    }
			    .ts-screensm-col-span3{
			        width: percentage(3 / 12);
			    }
			    .ts-screensm-col-span2{
			        width: percentage(2 / 12);
			    }
			    .ts-screensm-col-span1{
			        width: percentage(1 / 12);
			    }
				}
				.ts-screensm-height-max-100{
				    max-height: 100%;
				}
				.ts-screensm-height-max-80{
				    max-height: 80%;
				}
				.ts-screensm-height-max-50{
				    max-height: 50%;
				}
				.ts-screensm-height-100{
				    height: 100%;
				}
				.ts-screensm-height-90{
				    height: 90%;
				}
				.ts-screensm-height-75{
				    height: 75%;
				}
				.ts-screensm-height-66{
				    height: 66%;
				}
				.ts-screensm-height-50{
				    height: 50%;
				}
				.ts-screensm-height-33{
				    height: 33%;
				}
				.ts-screensm-height-25{
				    height: 25%;
				}
				.ts-screensm-height-10{
				    height: 10%;
				}
				.ts-screensm-width-100{
				    width: 100%;
				}
				.ts-screensm-width-90{
				    width: 90%;
				}
				.ts-screensm-width-75{
				    width: 80%;
				}
				.ts-screensm-width-66{
				    width: 66%;
				}
				.ts-screensm-width-50{
				    width: 50%;
				}
				.ts-screensm-width-33{
				    width: 33%;
				}
				.ts-screensm-width-25{
				    width: 25%;
				}
				.ts-screensm-width-10{
				    width: 10%;
				}
    }
}

//medium/ipad
@media screen and (min-width:@screensm + 0.001em) and (max-width: @screenmd) {
    .ts{
        .ts-screenmd-hidden{
            display: none;     
        }
        // h1,h2,h3,h4,h5,h6{
        //     line-height: 120%;
        //     margin: 1em 0 -0.5em;
        // }
        h1{
            font-size: (@heading-size*@headingmd);
        }
        h2{
            font-size: (@heading-size*(7/8) * @headingmd);
        }
        h3{
            font-size: (@heading-size*(6/8) * @headingmd);
        }
        h4{
            font-size: (@heading-size*(5/8) * @headingmd);
        }
        h5,h6{
            font-size: (@heading-size*(4/8) * @headingmd);
        }
        .ts-container{
            margin: 0 1em;
        }
        .ts-asset-slideshow{
            height:(@assetheight * @headingmd);
        }
        .ts-row{
			    .ts-screenmd-col-span12{
			        width: percentage(12 / 12);
			    }
			    .ts-screenmd-col-span11{
			        width: percentage(11 / 12);
			    }
			    .ts-screenmd-col-span10{
			        width: percentage(10 / 12);
			    }
			    .ts-screenmd-col-span9{
			        width: percentage(9 / 12);
			    }
			    .ts-screenmd-col-span8{
			        width: percentage(8 / 12);
			    }
			    .ts-screenmd-col-span7{
			        width: percentage(7 / 12);
			    }
			    .ts-screenmd-col-span6{
			        width: percentage(6 / 12);
			    }
			    .ts-screenmd-col-span5{
			        width: percentage(5 / 12);
			    }
			    .ts-screenmd-col-span4{
			        width: percentage(4 / 12);
			    }
			    .ts-screenmd-col-span3{
			        width: percentage(3 / 12);
			    }
			    .ts-screenmd-col-span2{
			        width: percentage(2 / 12);
			    }
			    .ts-screenmd-col-span1{
			        width: percentage(1 / 12);
			    }
				}
				.ts-screenmd-height-max-100{
				    max-height: 100%;
				}
				.ts-screenmd-height-max-80{
				    max-height: 80%;
				}
				.ts-screenmd-height-max-50{
				    max-height: 50%;
				}
				.ts-screenmd-height-100{
				    height: 100%;
				}
				.ts-screenmd-height-90{
				    height: 90%;
				}
				.ts-screenmd-height-75{
				    height: 75%;
				}
				.ts-screenmd-height-66{
				    height: 66%;
				}
				.ts-screenmd-height-50{
				    height: 50%;
				}
				.ts-screenmd-height-33{
				    height: 33%;
				}
				.ts-screenmd-height-25{
				    height: 25%;
				}
				.ts-screenmd-height-10{
				    height: 10%;
				}
				.ts-screenmd-width-100{
				    width: 100%;
				}
				.ts-screenmd-width-90{
				    width: 90%;
				}
				.ts-screenmd-width-75{
				    width: 80%;
				}
				.ts-screenmd-width-66{
				    width: 66%;
				}
				.ts-screenmd-width-50{
				    width: 50%;
				}
				.ts-screenmd-width-33{
				    width: 33%;
				}
				.ts-screenmd-width-25{
				    width: 25%;
				}
				.ts-screenmd-width-10{
				    width: 10%;
				}
    }
}

//large screen
@media screen and (min-width:@screenmd + 0.001em) and (max-width: @screenlg) {
    .ts{
        .ts-screenlg-hidden{
            display: none;     
        }
        // h1,h2,h3,h4,h5,h6{
        //     line-height: 120%;
        //     margin: 1em 0 -0.5em;
        // }
        h1{
            font-size: (@heading-size*@headinglg);
        }
        h2{
            font-size: (@heading-size*(7/8) * @headinglg);
        }
        h3{
            font-size: (@heading-size*(6/8) * @headinglg);
        }
        h4{
            font-size: (@heading-size*(5/8) * @headinglg);
        }
        h5,h6{
            font-size: (@heading-size*(4/8) * @headinglg);
        }
        .ts-row{
			    .ts-screenlg-col-span12{
			        width: percentage(12 / 12);
			    }
			    .ts-screenlg-col-span11{
			        width: percentage(11 / 12);
			    }
			    .ts-screenlg-col-span10{
			        width: percentage(10 / 12);
			    }
			    .ts-screenlg-col-span9{
			        width: percentage(9 / 12);
			    }
			    .ts-screenlg-col-span8{
			        width: percentage(8 / 12);
			    }
			    .ts-screenlg-col-span7{
			        width: percentage(7 / 12);
			    }
			    .ts-screenlg-col-span6{
			        width: percentage(6 / 12);
			    }
			    .ts-screenlg-col-span5{
			        width: percentage(5 / 12);
			    }
			    .ts-screenlg-col-span4{
			        width: percentage(4 / 12);
			    }
			    .ts-screenlg-col-span3{
			        width: percentage(3 / 12);
			    }
			    .ts-screenlg-col-span2{
			        width: percentage(2 / 12);
			    }
			    .ts-screenlg-col-span1{
			        width: percentage(1 / 12);
			    }
				}
				.ts-screenlg-height-max-100{
				    max-height: 100%;
				}
				.ts-screenlg-height-max-80{
				    max-height: 80%;
				}
				.ts-screenlg-height-max-50{
				    max-height: 50%;
				}
				.ts-screenlg-height-100{
				    height: 100%;
				}
				.ts-screenlg-height-90{
				    height: 90%;
				}
				.ts-screenlg-height-75{
				    height: 75%;
				}
				.ts-screenlg-height-66{
				    height: 66%;
				}
				.ts-screenlg-height-50{
				    height: 50%;
				}
				.ts-screenlg-height-33{
				    height: 33%;
				}
				.ts-screenlg-height-25{
				    height: 25%;
				}
				.ts-screenlg-height-10{
				    height: 10%;
				}
				.ts-screenlg-width-100{
				    width: 100%;
				}
				.ts-screenlg-width-90{
				    width: 90%;
				}
				.ts-screenlg-width-75{
				    width: 80%;
				}
				.ts-screenlg-width-66{
				    width: 66%;
				}
				.ts-screenlg-width-50{
				    width: 50%;
				}
				.ts-screenlg-width-33{
				    width: 33%;
				}
				.ts-screenlg-width-25{
				    width: 25%;
				}
				.ts-screenlg-width-10{
				    width: 10%;
				}
    }
}
//extra-large screen
@media screen and (min-width:@screenlg + 0.001em) and (max-width: @screenxl) {
    .ts{
        .ts-screenxl-hidden{
            display: none;     
        }
        // h1,h2,h3,h4,h5,h6{
        //     line-height: 120%;
        //     margin: 1em 0 -0.5em;
        // }
        h1{
            font-size: (@heading-size*@headingxl);
        }
        h2{
            font-size: (@heading-size*(7/8) * @headingxl);
        }
        h3{
            font-size: (@heading-size*(6/8) * @headingxl);
        }
        h4{
            font-size: (@heading-size*(5/8) * @headingxl);
        }
        h5,h6{
            font-size: (@heading-size*(4/8) * @headingxl);
        }
        .ts-row{
			    .ts-screenxl-col-span12{
			        width: percentage(12 / 12);
			    }
			    .ts-screenxl-col-span11{
			        width: percentage(11 / 12);
			    }
			    .ts-screenxl-col-span10{
			        width: percentage(10 / 12);
			    }
			    .ts-screenxl-col-span9{
			        width: percentage(9 / 12);
			    }
			    .ts-screenxl-col-span8{
			        width: percentage(8 / 12);
			    }
			    .ts-screenxl-col-span7{
			        width: percentage(7 / 12);
			    }
			    .ts-screenxl-col-span6{
			        width: percentage(6 / 12);
			    }
			    .ts-screenxl-col-span5{
			        width: percentage(5 / 12);
			    }
			    .ts-screenxl-col-span4{
			        width: percentage(4 / 12);
			    }
			    .ts-screenxl-col-span3{
			        width: percentage(3 / 12);
			    }
			    .ts-screenxl-col-span2{
			        width: percentage(2 / 12);
			    }
			    .ts-screenxl-col-span1{
			        width: percentage(1 / 12);
			    }
				}
				.ts-screenxl-height-max-100{
				    max-height: 100%;
				}
				.ts-screenxl-height-max-80{
				    max-height: 80%;
				}
				.ts-screenxl-height-max-50{
				    max-height: 50%;
				}
				.ts-screenxl-height-100{
				    height: 100%;
				}
				.ts-screenxl-height-90{
				    height: 90%;
				}
				.ts-screenxl-height-75{
				    height: 75%;
				}
				.ts-screenxl-height-66{
				    height: 66%;
				}
				.ts-screenxl-height-50{
				    height: 50%;
				}
				.ts-screenxl-height-33{
				    height: 33%;
				}
				.ts-screenxl-height-25{
				    height: 25%;
				}
				.ts-screenxl-height-10{
				    height: 10%;
				}
				.ts-screenxl-width-100{
				    width: 100%;
				}
				.ts-screenxl-width-90{
				    width: 90%;
				}
				.ts-screenxl-width-75{
				    width: 80%;
				}
				.ts-screenxl-width-66{
				    width: 66%;
				}
				.ts-screenxl-width-50{
				    width: 50%;
				}
				.ts-screenxl-width-33{
				    width: 33%;
				}
				.ts-screenxl-width-25{
				    width: 25%;
				}
				.ts-screenxl-width-10{
				    width: 10%;
				}
    }
}
//extra-huge screen
@media screen and (min-width: @screenxl) {
    .ts{
        .ts-screenxx-hidden{
            display: none;     
        }
        // h1,h2,h3,h4,h5,h6{
        //     line-height: 120%;
        //     margin: 1em 0 -0.5em;
        // }
        h1{
            font-size: (@heading-size*@headingxx);
        }
        h2{
            font-size: (@heading-size*(7/8) * @headingxx);
        }
        h3{
            font-size: (@heading-size*(6/8) * @headingxx);
        }
        h4{
            font-size: (@heading-size*(5/8) * @headingxx);
        }
        h5,h6{
            font-size: (@heading-size*(4/8) * @headingxx);
        }
        .ts-row{
			    .ts-screenxx-col-span12{
			        width: percentage(12 / 12);
			    }
			    .ts-screenxx-col-span11{
			        width: percentage(11 / 12);
			    }
			    .ts-screenxx-col-span10{
			        width: percentage(10 / 12);
			    }
			    .ts-screenxx-col-span9{
			        width: percentage(9 / 12);
			    }
			    .ts-screenxx-col-span8{
			        width: percentage(8 / 12);
			    }
			    .ts-screenxx-col-span7{
			        width: percentage(7 / 12);
			    }
			    .ts-screenxx-col-span6{
			        width: percentage(6 / 12);
			    }
			    .ts-screenxx-col-span5{
			        width: percentage(5 / 12);
			    }
			    .ts-screenxx-col-span4{
			        width: percentage(4 / 12);
			    }
			    .ts-screenxx-col-span3{
			        width: percentage(3 / 12);
			    }
			    .ts-screenxx-col-span2{
			        width: percentage(2 / 12);
			    }
			    .ts-screenxx-col-span1{
			        width: percentage(1 / 12);
			    }
				}
				.ts-screenxx-height-max-100{
				    max-height: 100%;
				}
				.ts-screenxx-height-max-80{
				    max-height: 80%;
				}
				.ts-screenxx-height-max-50{
				    max-height: 50%;
				}
				.ts-screenxx-height-100{
				    height: 100%;
				}
				.ts-screenxx-height-90{
				    height: 90%;
				}
				.ts-screenxx-height-75{
				    height: 75%;
				}
				.ts-screenxx-height-66{
				    height: 66%;
				}
				.ts-screenxx-height-50{
				    height: 50%;
				}
				.ts-screenxx-height-33{
				    height: 33%;
				}
				.ts-screenxx-height-25{
				    height: 25%;
				}
				.ts-screenxx-height-10{
				    height: 10%;
				}
				.ts-screenxx-width-100{
				    width: 100%;
				}
				.ts-screenxx-width-90{
				    width: 90%;
				}
				.ts-screenxx-width-75{
				    width: 80%;
				}
				.ts-screenxx-width-66{
				    width: 66%;
				}
				.ts-screenxx-width-50{
				    width: 50%;
				}
				.ts-screenxx-width-33{
				    width: 33%;
				}
				.ts-screenxx-width-25{
				    width: 25%;
				}
				.ts-screenxx-width-10{
				    width: 10%;
				}
    }
}